site_name: NodeTunnel Docs
site_url: https://site.example
theme:
  name: material
  logo: assets/nodetunnel_logo.png
  favicon: assets/favicon.ico
  font:
    code: JetBrains Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  